<footer id="footer" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">GPBO Content</h5>
                <p class="grey-text text-lighten-4">Quick links for GPBO information.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3"><%= link_to 'Home', home_path %></a></li>
                  <li><a class="grey-text text-lighten-3"><%= link_to 'About GPBO', about_path %></a></li>
                  <li><a class="grey-text text-lighten-3"><%= link_to 'Contact Us', contact_path %></a></li>
                  <li><a class="grey-text text-lighten-3"><%= link_to 'Privacy Policy', privacy_path %></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright GPBO
            </div>
          </div>
</footer>