<div class="card">    
    <div class="card-content">
      <h4>About the Great Pittsburgh Baking Outlet</h4><br>
      <p>Here at GPBO, you can shop for all your cooking needs to prepare your best baking creations.
      GPBO is based on the hit television show <i>The Great British Bake Off</i> and we feature items
      and have inventory for the items that appear on screen. Furthermore, we have a great inventory
      of other essential baking utensils, pans, decorations and much more! We deliver quality baking products to 
      the surrounding regions of Pittsburgh as of current and will potentially expand delivery in the near future.
      </p>
  </div>
</div>

