<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <h4>Contacting GPBO</h4>
        <p>
          GPBO website is a fake application for a class project, therefore there is no staff to contact.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h4>Contact</h4>
        <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td>Victor Waddell</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
            <%= mail_to("vwaddell@andrew.cmu.edu", "vwaddell@andrew.cmu.edu*", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-268-8211</td>
          </tr>
        </table>
        <p >*Testing, testing, what is this?.&nbsp;&nbsp;&nbsp; 
          <em>... Testing...</em></p>
      </div>
    </div>
  </div>
</div>