/* Define primary colors and variants for the website */
:root {
    --primary-color: #405AB4;
    --hover-color: #7d9df5;
    --active-color: #eaeefa;
    --card-bg-color: #f9f9f9;
    --inactive-card-color: #ececec;
}

html {
    scroll-padding-top: 3.125rem;
}

/* General styling for body and global elements */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Styling for the scrollbar */
::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #f4f4f9;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 0.3125rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
}

/* Styling for the header, which includes the navigation bar */
header {
    background-color: var(--primary-color);
    color: white;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: -3.125rem;
    width: 100%;
    z-index: 1000;
    padding: 0 1.25rem;
    transition: top 0.5s ease;
}

.header-visible {
    top: 0;
}

.nav-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.125rem;
    bottom: -0.125rem;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}

/* Main content styling and section layouts */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    position: relative;
    min-width: 80%;
    min-height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15%;
    overflow: visible;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin: 0;
    color: #405AB4;
}

#landing {
    padding: 0;
}

#contact {
    margin-bottom: 0;
}

/* Styling for the profile section, including background and overlay effects */
.profile-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('assets/profilepatch.jpg') center center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(244, 244, 249, 0) 60%, rgba(244, 244, 249, 1) 100%);
    pointer-events: none;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    z-index: 2;
}

.profile-image {
    height: 70vh;
    width: auto;
    object-fit: contain;
    border-radius: 0.9375rem;
    box-shadow: 
        10px 10px 10px rgba(255, 255, 255, 0.5),
        25px 15px 10px rgba(0, 0, 0, 0.5);
}

.intro-content {
    color: white;
    text-align: left;
    white-space: nowrap;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styling for the scroll indicator */
.scroll-indicator {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-indicator span {
    display: block;
    font-size: 2rem;
    color: white;
}

.scroll-icon {
    margin-top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.125rem solid white;
    border-radius: 50%;
    animation: scroll 1.5s infinite;
    position: relative;
}

.scroll-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.625rem);
    }
    100% {
        transform: translateY(0);
    }
}

/* Background Shape Container inside each section */
.background-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: visible;
}

/* Shape animation */
.shape {
    position: absolute;
    opacity: 0;
    transform: scale(0.5);
    filter: blur(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.shape.triangle {
    clip-path: polygon(
        50% 0%,
        0% 100%,
        100% 100%
    );
}

.shape.hexagon {
    clip-path: polygon(
        50% 0%,
        90% 25%,
        90% 75%,
        50% 100%,
        10% 75%,
        10% 25%
    );
}

.shape.pentagon {
    clip-path: polygon(
        50% 0%,
        90% 35%,
        70% 100%,
        30% 100%,
        10% 35%
    );
}

.shape.blob {
    border-radius: 50% 40% 60% 50% / 50% 60% 40% 50%;
}

.shape.animate {
    opacity: 1;
    transform: scale(1);
    animation: float 10s infinite ease-in-out;
}

/* Floating keyframes */
@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-30px) translateX(30px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

/* Word Map Styling */
.wordmap-section {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4, 0.9;
    position: relative;
    overflow: visible;
    margin-bottom: 10%;
}

.word-map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
}

.word {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    opacity: 1;
    font-size: calc(1rem + var(--weight) * 0.5rem);
    white-space: nowrap;
    will-change: transform;
    padding: 0.5rem 1rem;
    left: -100%;
    animation: floatInLeft 15s linear infinite;
    border-radius: 0.5rem;
}

/* Animation to float the words from left to right */
@keyframes floatInLeft {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(300vw);
    }
}

/* About Section Styling */
.about-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    background-color: #f4f4f9, 0.95;
    margin-bottom: 2rem;
    padding: 2rem;
}

.about-content {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 
        10px 10px 20px rgba(0, 0, 0, 0.1),
        -5px -5px 15px rgba(255, 255, 255, 0.5);
    max-width: 80%;
    text-align: left;
    color: #333;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 15%;
}

.about-content:hover {
    transform: translate(5px, 5px);
}

.about-text {
    font-size: 2rem;
    line-height: 1.6;
    word-wrap: break-word;
}

/* Quote Block Styling */
.quote-block {
    color: var(--primary-color);
}

.quote-text {
    color: #0a0a0a;
}

.quote-block {
    background-color: #f4f4f9, 0.9;
    position: relative;
    padding: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    max-width: 80%;
    border-left: 0.5rem solid var(--primary-color);
}

.quote-block::before, .quote-block::after {
    content: '“';
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    color: var(--primary-color);
    font-weight: bold;
    line-height: 0;
}

.quote-block::before {
    top: -6rem;
    left: -3rem;
}

.quote-block::after {
    content: '”';
    bottom: -6rem;
    right: -3rem;
}

/* Scotty Dog Container */
.scotty-dog-container {
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.scotty-dog-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.quote-text {
    display: inline-block;
    text-align: left;
    line-height: 1.6;
    font-weight: 400;
    color: #666;
}

/* Job experience section layout and card styling */
.experience-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-title {
    background-color: #f4f4f9, 0.95;
    margin-bottom: 2rem;
}

.job-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    gap: 2rem;
}

.job-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.job-card {
    position: relative;
    background-color: var(--card-bg-color);
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    transform-origin: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    cursor: pointer;
    width: 100%;
    height: auto;
    text-align: left;
    overflow: visible;
    z-index: 1;
    margin-left: 2.5rem;
}

.job-description-section {
    width: 100%;
}

/* Styling for the 3D image container */
.job-image-container {
    position: relative;
    flex-shrink: 0;
    transition: opacity 0.5s ease;
    margin-left: 5rem;
}

.job-card.active + .job-image-container {
    opacity: 1;
}

.job-card.active {
    background-color: var(--active-color);
    transform: translateX(-10%) scale(1.2);
}

.job-card.inactive {
    background-color: var(--inactive-card-color);
    transform: scale(0.9);
    opacity: 0.9;
}

.job-card.inactive:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.job-description-section h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.75rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.job-description-section h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 1rem;
}

.job-description-section ul {
    list-style: none;
    padding: 0;
}

.job-description-section ul li {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

/* Project section layout and card styling */
.projects-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9, 0.9;
    max-width: 1200px;
}

.projects-grid-title {
    background: #f4f4f9, 0.95;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 15%;
    width: 100%;
    justify-content: center;
    grid-auto-flow: dense;
    margin-top: 5rem;
    overflow-y: scroll;
}

.project-card {
    background-color: var(--card-bg-color);
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0.625rem 0.625rem 0.9375rem rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0.9375rem 0.9375rem 1.25rem rgba(0, 0, 0, 0.3);
}

.project-thumbnail {
    width: 50%;
    height: auto;
    max-height: 50%;
    object-fit: contain;
    margin: auto;
}

.project-title {
    padding: 1rem 0.5rem;
    background: var(--primary-color);
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.modal-content {
    background-color: #f4f4f9;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #333;
}

.modal-header, .modal-footer {
    text-align: center;
}

.modal-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
}

.modal-link:hover {
    background-color: var(--hover-color);
}

.contact-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0.625rem 0.625rem 0.9375rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 2.5rem;
}

.contact-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.contact-button:active {
    background-color: var(--active-color);
    transform: scale(0.95);
}

/* Mobile Styling */
@media (max-width: 48rem) {
    
    /* General Body Styling */
    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        font-size: 1rem;
    }

    /* Header Styling */
    header {
        height: 3.125rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: top 0.5s ease;
    }

    .nav-title {
        font-size: 1.5rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    nav a {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
    }

    /* Section Styling */
    section {
        width: 100%;
        padding: 2rem 1rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    /* Profile Section */
    .profile-section {
        width: 100vw;
        height: auto;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-image {
        width: 80vw;
        height: auto;
        margin-bottom: 1rem;
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5),
            10px 10px 5px rgba(0, 0, 0, 0.3);
    }

    .intro-content {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .intro-content h1 {
        font-size: 3rem;
        white-space: normal;
    }

    /* Scroll Indicator */
    .scroll-indicator {
        margin-top: 1rem;
    }

    .scroll-indicator span {
        font-size: 1.5rem;
    }

    .scroll-icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    /* Word Map Section */
    .wordmap-section {
        width: 100vw;
        height: auto;
        padding: 2rem 0;
    }

    .word-map-container {
        height: auto;
        width: 100%;
    }

    .word {
        font-size: 1rem;
        left: -100%;
    }

    @keyframes floatInLeft {
        0% {
            transform: translateX(-50vw);
        }
        100% {
            transform: translateX(250vw);
        }
    }

    /* About Section */
    .about-section {
        width: 100%;
        padding: 2rem;
    }

    .about-content {
        padding: 1.5rem;
        max-width: 100%;
    }

    .about-text {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .quote-block {
        font-size: 1.25rem;
        padding: 1rem;
    }

    /* Job Experience Section */
    .job-title {
        background-color: #f4f4f9, 0.95;
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    .job-list {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0;
        width: 100%;
    }

    .job-card-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 1rem;
    }

    .job-card {
        width: 100%;
        margin-bottom: 2rem;
        padding: 1.5rem;
        box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.2);
        transform: none;
    }

    .job-card.active {
        transform: none;
        background-color: var(--active-color);
    }

    .job-description-section h3 {
        font-size: 1.5rem;
    }

    .job-description-section h4 {
        font-size: 1.2rem;
    }

    .job-description-section ul li {
        font-size: 1rem;
    }

    /* Projects Section */
    .projects-section {
        padding: 2rem 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: #f4f4f9;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 100%;
    }

    .project-card {
        width: 100%;
        height: auto;
        padding: 1.5rem;
    }

    /* Contact Section */
    .contact-section {
        padding: 2rem;
        width: 100%;
    }

    .contact-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .contact-button {
        width: 90%;
        margin-bottom: 1rem;
    }
}