<% if @customer.orders.empty? %>
 <p>No orders history</p><br>
<% else %>
<table class="striped highlight">
        <thead>
          <th>Date</th>
          <th>Amount</th>
        </thead>

        <% for order in @customer.orders %>
            <tr>
              <%# Link variable date to order details %>
              <td><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
              <td> <%= number_to_currency(order.grand_total) %> </td>
            </tr>
        <% end %>


</table><br></td>
<% end %>